In [0]:
import pandas as pd
import numpy as np

input_directory = '/dbfs/FileStore/tables/data'

In [0]:
district_councilsdf = pd.read_csv(f'{input_directory}/england_councils/district_councils.csv', 
                                  header=0).assign(council_type='District Council')

london_boroughsdf = pd.read_csv(f'{input_directory}/england_councils/london_boroughs.csv', 
                                header=0).assign(council_type='London Borough')

metropolitan_districtsdf = pd.read_csv(f'{input_directory}/england_councils/metropolitan_districts.csv', 
                                       header=0).assign(council_type='Metropolitan District')

unitary_authoritiesdf = pd.read_csv(f'{input_directory}/england_councils/unitary_authorities.csv', 
                                    header=0).assign(council_type='Unitary Authority')

In [0]:
dfs = [district_councilsdf, london_boroughsdf, metropolitan_districtsdf, unitary_authoritiesdf]
councils_df = pd.concat(dfs, ignore_index=True)
print(councils_df.shape)

(316, 3)

In [0]:
councils_df.head(5)

,council,county,council_type
0,Adur,West Sussex,District Council
1,Allerdale,Cumbria,District Council
2,Amber Valley,Derbyshire,District Council
3,Arun,West Sussex,District Council
4,Ashfield,Nottinghamshire,District Council

In [0]:
avg_pricedf = pd.read_csv(f'{input_directory}/property_avg_price.csv', header=0)\
                .rename(columns={'local_authority':'council'})\
                .loc[:, ['council','avg_price_nov_2019']]

In [0]:
sales_volumedf = pd.read_csv(f'{input_directory}/property_sales_volume.csv', header=0)\
                .rename(columns={'local_authority':'council'})\
                .loc[:, ['council','sales_volume_sep_2019']]

In [0]:
avg_pricedf.head(5)

,council,avg_price_nov_2019
0,Adur,316482.0
1,Allerdale,148708.0
2,Amber Valley,184204.0
3,Arun,290304.0
4,Ashfield,141916.0

In [0]:
sales_volumedf.head(5)

,council,sales_volume_sep_2019
0,Adur,82
1,Allerdale,122
2,Amber Valley,156
3,Arun,234
4,Ashfield,156

In [0]:
councils_df = councils_df.merge(avg_pricedf, on='council', how='left')\
                         .merge(sales_volumedf, on='council', how='left')\
                         .replace({np.nan: 'None'})

In [0]:
councils_df.head(5)

,council,county,council_type,avg_price_nov_2019,sales_volume_sep_2019
0,Adur,West Sussex,District Council,316482.0,82.0
1,Allerdale,Cumbria,District Council,148708.0,122.0
2,Amber Valley,Derbyshire,District Council,184204.0,156.0
3,Arun,West Sussex,District Council,290304.0,234.0
4,Ashfield,Nottinghamshire,District Council,141916.0,156.0